[Unit]
Description=Gunicore to start tdd

[Service]
Restart=on-failure
User=root
WorkingDirectory=/root/tdd/sites/123.56.85.195/TDD-TodoList
ExecStart=/root/tdd/sites/123.56.85.195/virtualenv/bin/gunicorn --bind unix:/root/tmp/123.56.85.195.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target